<div class="social-login__box">
  <p class="social-login__text">
    Inicia sesión con tus redes
  </p>
  <div class="social-login__icons">
    <img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" alt="google" class="social-login__icon">
    <img src="https://lh3.googleusercontent.com/proxy/F8AJ-o460O57fly1_PSq4EBjLXZfGIjnlwOQSl4BMPP9z9YZra-pz3WtK4_HYtSZEsVSc8A4JXyCf8NakqIQIoeFfiRp9meTplNhz9zUIYkbD3zccemFk_PA0uPKZHblfpqH5bdtboyPOPuyudSfq-P2" alt="facebook" class="social-login__icon">
  </div>
  <p class="social-login__text">
    ¿Aún no eres miembro? <a href="xd">Regístrate</a>
  </p>
</div>