<!-- <app-user-edit></app-user-edit>
<div class="profile__form">
	<div class="profile__card">
		<app-card-profile></app-card-profile>
	</div>
	<div class="profile__badge">
		<app-insignia></app-insignia>
	</div>
	<div class="profile__activities">
		<app-activities></app-activities>
	</div>
	<div class="profile__events">
		<app-events></app-events>
	</div>
</div> -->

<!-- <app-card-profile style="border: 1px solid red"></app-card-profile>
======= -->
<!-- <app-submodule-events></app-submodule-events> -->
<app-submodule-profile></app-submodule-profile>
