.social-login{
  &__box{

  }

  &__text{
    text-align: center;
  }
  
  &__icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  &__icon{
    height: 30px;
    width: 30px;
  }
}
