<mat-card class="card">
	<mat-card-header>
		<div class="card__header">
			<img
				src="assets/images/team-leaders/angular-nicolas-molina.jpg"
				alt=""
				class="card_user_image"
			/>
			<span class="material-icons camera"> camera_alt </span>
		</div>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
			<div class="card__form">
				<div class="card__form-uno">
					<mat-form-field class="card__form-nick">
						<mat-label>Nick</mat-label>
						<input matInput formControlName="nick" />
						<mat-error
							*ngIf="
								getProfileFormControl.nick.touched && getProfileFormControl.nick.errors?.required
							"
						>
							Nick es requerido
						</mat-error>
						<mat-error
							*ngIf="
								getProfileFormControl.nick.touched && getProfileFormControl.nick.errors?.minlength
							"
						>
							Nick no válido. Mínimo 4 caracteres
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="legacy" class="card__form-nick">
						<mat-label>Correo</mat-label>
						<input matInput placeholder="Placeholder" formControlName="email" />
						<mat-icon matSuffix>alternate_email</mat-icon>
					</mat-form-field>
				</div>

				<div class="card__form-dos">
					<mat-form-field>
						<mat-label>Genero</mat-label>
						<select matNativeControl formControlName="idGender" required>
							<option value="1">Masculino</option>
							<option value="2">Femenino</option>
							<option value="3">Otro</option>
						</select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Fecha de nacimiento</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="dateB" />
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>

					<mat-form-field>
						<mat-label>País</mat-label>
						<select matNativeControl formControlName="idCountry" required>
							<option value="1">Argentina</option>
							<option value="2">Bolivia</option>
							<option value="3">Brasil</option>
							<option value="4">Chile</option>
							<option value="5">Colombia</option>
							<option value="6">Costa Rica</option>
							<option value="7">Cuba</option>
							<option value="8">Ecuador</option>
							<option value="9">El Salvador</option>
							<option value="10">Guatemala</option>
							<option value="11">Haití</option>
							<option value="12">Honduras</option>
							<option value="13">México</option>
							<option value="14">Nicaragua</option>
							<option value="15">Panamá</option>
							<option value="16">Paraguay</option>
							<option value="17">Perú</option>
							<option value="18">República Dominicana</option>
							<option value="19">Uruguay</option>
							<option value="20">Venezuela</option>
						</select>
					</mat-form-field>
				</div>

				<div class="card__form-tres">
					<mat-form-field>
						<mat-label>Área de conocimiento</mat-label>
						<select matNativeControl formControlName="idArea" required>
							<option value="1">FronEnd</option>
							<option value="2">BackEnd</option>
							<option value="3">DevOps</option>
							<option value="4">Video Game Developers</option>
							<option value="4">UI/UX</option>
							<option value="4">Database Developer</option>
							<option value="4">Cloud Computing</option>
						</select>
					</mat-form-field>
				</div>

				<div class="card__form-password">
					<mat-slide-toggle (change)="toggleVerifyPassword($event)"
						>Cambiar contraseña</mat-slide-toggle
					>
					<form [formGroup]="passwordsForm">
						<div *ngIf="showVerifyPassword">
							<div class="actual-password">
								<mat-form-field>
									<mat-label>Contraseña</mat-label>
									<input
										matInput
										placeholder="Contraseña"
										name="password"
										formControlName="password"
										[type]="hidePassword ? 'password' : 'text'"
									/>
									<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
										hidePassword ? 'visibility' : 'visibility_off'
									}}</mat-icon>
								</mat-form-field>

								<button mat-raised-button color="primary" type="button" (click)="verifyPassword()">
									Verificar
								</button>
							</div>
						</div>

						<div class="passwords" *ngIf="showNewPassword">
							<mat-form-field>
								<mat-label>Contraseña</mat-label>
								<input
									matInput
									placeholder="Contraseña"
									name="password"
									formControlName="newPassword"
									[type]="hideNewPassword ? 'password' : 'text'"
								/>
								<mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
									hideNewPassword ? 'visibility' : 'visibility_off'
								}}</mat-icon>
								<mat-error
									*ngIf="
										getPasswordsFormControl.newPassword.touched &&
										getPasswordsFormControl.newPassword.errors?.minlength
									"
								>
									La contraseña debe tener mínimo 6 caracteres
								</mat-error>
							</mat-form-field>

							<mat-form-field>
								<mat-label>Contraseña</mat-label>
								<input
									matInput
									placeholder="Contraseña"
									name="password"
									formControlName="confirmPassword"
									[type]="hideConfirmPassword ? 'password' : 'text'"
								/>
								<mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{
									hideNewPassword ? 'visibility' : 'visibility_off'
								}}</mat-icon>
								<mat-error
									*ngIf="
										getPasswordsFormControl.confirmPassword.touched &&
										getPasswordsFormControl.confirmPassword.errors?.minlength
									"
								>
									La contraseña debe tener mínimo 6 caracteres
								</mat-error>
							</mat-form-field>
							<mat-error
								*ngIf="
									getPasswordsFormControl.confirmPassword.touched &&
									getPasswordsFormControl.confirmPassword.errors?.passwordMismatch
								"
							>
								Las contraseñas no coindicen
							</mat-error>
						</div>
					</form>
				</div>

				<div class="card__form-social">
					<mat-form-field>
						<mat-label>&nbsp; Facebook</mat-label>

						<span matPrefix>
							<mat-icon>facebook</mat-icon>
							<strong>facebook.com/</strong>
						</span>
						<input type="tel" matInput formControlName="facebook" />
					</mat-form-field>

					<mat-form-field>
						<mat-label>&nbsp; Github</mat-label>

						<span matPrefix>
							<mat-icon>github</mat-icon>
							<strong>github.com/</strong>
						</span>
						<input type="tel" matInput formControlName="github" />
					</mat-form-field>

					<mat-form-field>
						<mat-label>&nbsp; LinkedIn</mat-label>

						<span matPrefix>
							<mat-icon>linkedin</mat-icon>
							<strong>linkedin.com/in/</strong>
						</span>
						<input type="tel" matInput formControlName="linkedin" />
					</mat-form-field>

					<mat-form-field>
						<mat-label>&nbsp; Twitter</mat-label>

						<span matPrefix>
							<mat-icon>twitter</mat-icon>
							<strong>twitter.com/</strong>
						</span>
						<input type="tel" matInput formControlName="twitter" />
					</mat-form-field>
				</div>

				<div class="card__form-biography">
					<mat-form-field>
						<mat-label>Biografía</mat-label>
						<textarea
							matInput
							placeholder="¡Queremos saber más de ti!"
							formControlName="biography"
						></textarea>
					</mat-form-field>
				</div>

				<div class="card__form-buttons">
					<button
						mat-raised-button
						color="primary"
						[disabled]="!profileForm.valid || (this.showNewPassword && !this.passwordsForm.valid)"
						type="submit"
					>
						Guardar cambios
					</button>
				</div>
			</div>
		</form>
	</mat-card-content>
</mat-card>
