.groups__search{
  display: grid;
  grid-template-columns: 30% 65%;
  justify-content: space-between;
}

.groups__grid{
  display: grid;
  grid-template: repeat(2,auto) / repeat(4,auto);
  grid-gap: 1em;
  overflow: hidden;
}

