.groups{
  border: 1px solid black;
  // width: 100%;
  max-width: 100%;
  min-width: 0;
  &__search{
    display: grid;
    grid-template-columns: 30% 65%;
    justify-content: space-between;
  }
  
  &__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // grid-template: repeat(2,auto) / repeat(4,130px);
    // grid-gap: 1em;
  }
}

