<!-- <div>
	<label class="col-sm-2 col-form-label">Email</label>
	<input type="text" class="form-control" [(ngModel)]="email" />
	<label class="col-sm-2 col-form-label">Password</label>
	<input type="password" class="form-control" [(ngModel)]="password" />
	<button class="btn btn-primary" (click)="login()">Login</button>
	<button class="btn btn-primary" (click)="register()">Register</button>
	<button class="btn btn-primary" (click)="resetPassword()">Reset password</button>
</div>
<br /> -->

<app-card-container>
	<h1>aqui va login</h1>
</app-card-container>
