<!-- <div>
	<label class="col-sm-2 col-form-label">Email</label>
	<input type="text" class="form-control" [(ngModel)]="email" />
	<label class="col-sm-2 col-form-label">Password</label>
	<input type="password" class="form-control" [(ngModel)]="password" />
	<button class="btn btn-primary" (click)="login()">Login</button>
	<button class="btn btn-primary" (click)="register()">Register</button>
	<button class="btn btn-primary" (click)="resetPassword()">Reset password</button>
</div>
<br /> -->

<app-card-container>
    <form class="login-form">
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="ejemplo@gmail.com" />
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Contraseña" />
            <mat-icon matSuffix>visibility</mat-icon>
        </mat-form-field>

        <a href="xd">¿Olvidaste tu contraseña?</a>

        <button mat-raised-button color="primary" class="login-button">Log in</button>

        <div class="login-slide">
            <mat-slide-toggle>Mantener sesión</mat-slide-toggle>
        </div>

        <app-social-login text="¿Aún no eres miembro?" textLink="Regístrate"></app-social-login>
    </form>
</app-card-container>