.container {
	display: flex;
	flex-direction: column;

	&__content{
		display: grid;
		justify-items: center;
		align-items: center;
	}

  &__footer{
  position: absolute;
	bottom: 0;
	width: 100%;
  }

}
