<mat-card class="card">
	<mat-card-header>
		<img src="assets/images/person.png" class="navbar-brand__item-logo" alt="Team Angular 31" />
	</mat-card-header>
	<div class="name">
		<mat-card-title class="title">Perfil de usuario</mat-card-title>
		<mat-card-subtitle class="sub-title">Team angular 31</mat-card-subtitle>
	</div>
	<mat-card-content>
		<p>
			The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			bred for hunting.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<div class="red">
			<img class="red-icon" src="assets/svg/facebook.svg" alt="Ir a facebook" />
			<img class="red-icon" src="assets/svg/twitter.svg" alt="Ir a twitter" />
			<img class="red-icon" src="assets/svg/linkedin.svg" alt="Ir a Linkedin" />
			<img class="red-icon" src="assets/svg/git_hub.svg" alt="Ir a gitHub" />
		</div>
		<hr class="hr" />
		<label for="" class="label">Editar Perfil</label>
	</mat-card-actions>
</mat-card>
