@import '../../../../../assets/scss/variables.scss';
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21em;
    border-radius: 25px;
    box-shadow: $value-shadow $color-shadow;
    background: linear-gradient(165deg, $color-primary 24.53%, rgba(255, 105, 68, 0) 25%);
    gap: 0.625em;
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.875em;
    }
    .red {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .red-icon {
            padding: 1em;
            cursor: pointer;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        hr {
            border: 0 none $color-primary;
            border-top: 1px solid $color-primary;
            height: 1px;
            width: 15em;
            display: block;
            clear: both;
        }
        .label {
            color: $color-secondary;
            cursor: pointer;
        }
    }
}
