<div style="display: flexbox">
	<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
		<div *nguCarouselDef="let item" class="item">
			<div class="tile">
				<h1>{{ item }}</h1>
			</div>
		</div>

		<button NguCarouselNext class="rightRs">></button>
		<button NguCarouselPrev class="leftRs"><</button>
		<ul class="myPoint" NguCarouselPoint>
			<li
				*ngFor="let item of myCarousel.pointNumbers; let j = index"
				[class.active]="j == myCarousel.activePoint"
				(click)="myCarousel.moveTo(j)"
			></li>
		</ul>
	</ngu-carousel>
</div>
