<div>
	<ngu-carousel
		#myCarousel
		[inputs]="carouselConfig"
		[dataSource]="carouselItems"
		class="team31__carousel"
	>
		<button NguCarouselNext class="rightRs team31__buttonRight">
			<span><i class="fab fa-keyboard_arrow_left"></i></span>
		</button>

		<!-- <div class="team31__center"> -->
		<div *nguCarouselDef="let item" class="item team31__items">
			<div class="tile">
				<h1>{{ item }}</h1>
			</div>
		</div>
		<!-- </div> -->

		<button NguCarouselPrev class="leftRs team31__buttonLeft">
			<span><i class="fab fa-keyboard_arrow_right"></i></span>
		</button>
	</ngu-carousel>
</div>

<!-- <ul class="myPoint" NguCarouselPoint>
				<li
					*ngFor="let item of myCarousel.pointNumbers; let j = index"
					[class.active]="j == myCarousel.activePoint"
					(click)="myCarousel.moveTo(j)"
				></li>
			</ul> -->
