.container__groups{
  display: grid;
  grid-template-columns: 29% 70%;
  gap: 1.5em;
  justify-content: space-evenly;
  &__right, &__left{
    width: 100%;
    max-width: 100%;
    min-width: 0;
    border: 1px solid red;
  }
}